/*-------- Admin --------*/

#head-left
{
	font-size:380px;
	position:relative;
}

.btn
{
	cursor:pointer;
}

#head-right
{
	font-size:20px;
	position:relative;

}

#center_column
{
	position:relative;
	left:40px;
	top:120px;
	font-size:28px;
}

a.cancel-link 
{
	border-radius:5px ;
	background: #ccc;
	font-size:13px;
	padding: 100px;
}


