/*-------- Admin --------*/

#head-left
{
	font-size:38px;
	position:relative;

}

.btn
{
	cursor:pointer;
}

#head-right
{
	font-size:20px;
	position:relative;
}

#center_column
{
	position:relative;
	left:40px;
	top:50px;
	font-size:25px;
}

a.cancel-link 
{
	border-radius:5px ;
	background: #C0C0C0;
	font-size:13px;
	padding: 5px 10px;
}
.login
{
	left:40px;
	top:80px;
}

.thumbnail
{
	width: 80px;
	height: 80px;
}

.redigera
{
	position:relative;
	left: 33px;
}


