/*-------- Sten, Sax, Påse --------*/

.spel
{
	width:940px;
	height:800px;
	margin:100px auto;
    position:relative; 
	background-image:url(../images/images-7.jpeg);
	font-family:Apple Chancery;
}

#main-title
{
	font-size:35px;
}

p
{
	font-size:28px;
}

.sten
{
	top:2%;
	position:relative;
	left:30%;
}

#sten
{
	font-family:Apple Chancery;
	font-size:13px;
	cursor:pointer;
}

#sax
{
	font-family:Apple Chancery;
	font-size:13px;
	cursor:pointer;
}

#påse
{
	font-family:Apple Chancery;
	font-size:13px;
	cursor:pointer;
}

#börja_om
{
	font-family:Apple Chancery;
	font-size:13px;
	cursor:pointer;
}


