/*-------- Sten, Sax, Påse --------*/

.spel
{
	width:940px;
	height:800px;
	margin:100px auto;
    position:relative; 
	background-image:url(../images/images-7.jpeg);
	font-family:Apple Chancery;
}

.sten
{
	top:15%;
	position:relative;
	left:30%;
}


